.navbar {
  height: 70px;
  background-color: #111827;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar__logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 25px;
}

.navbar__links a {
  transition: 0.2s;
}

.navbar__links a:hover {
  color: #60a5fa;
}

.navbar__auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-login,
.btn-register {
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.2s;
}

.btn-login {
  border: 1px solid #374151;
}

.btn-login:hover {
  background-color: #1f2937;
}

.btn-register {
  background-color: #2563eb;
}

.btn-register:hover {
  background-color: #1d4ed8;
}

.cart-btn {
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.2s;
}

.cart-btn:hover {
  background-color: #1d4ed8;
}