.home {
  min-height: 100vh;
}

.hero {
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background: linear-gradient(
    135deg,
    #1e3a8a,
    #2563eb
  );

  color: white;

  padding: 20px;
}

.hero__content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero__content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero__btn {
  display: inline-block;

  background-color: white;
  color: #2563eb;

  padding: 14px 24px;

  border-radius: 10px;

  text-decoration: none;
  font-weight: bold;

  transition: 0.2s;
}

.hero__btn:hover {
  transform: scale(1.05);
}

.home__features {
  display: flex;
  justify-content: center;
  gap: 25px;

  padding: 60px 40px;

  flex-wrap: wrap;
}

.feature-card {
  width: 300px;

  background-color: white;

  padding: 30px;

  border-radius: 12px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  text-align: center;
}

.feature-card h3 {
  margin-bottom: 15px;
}